//nav-link hover
.a-effect {
    position: absolute;
    bottom: .5rem;
    height: 2px;
    width: 30%;
    background: white;
}


@media (max-width: 991px) {

    //navbar toggle
    .navbar #navigation-content {
        transition: all 0.5s 0s cubic-bezier(.68, -0.55, .27, 1.55);

        &.collapse {
            display: unset;
            transform: scale(0, 1);
            opacity: 0;
        }

        ul.navbar-nav {
            .nav-item.separator {
                height: 100%;
                width: 1px;
                border-radius: 0;
            }

            //on smaller screens, 50% of navbar has white background
            .nav-link {
				&:nth-child(1), &:nth-child(2) {
					.a-effect {
						background: black;
					}
				}
			}
        }
    }
}